<h1><b>Nama:     Clara Adriana Sidauruk</b></h1>
<h1><b>Kelas:    TI 3A</b></h1>
<h1><b>Absen:    05</b></h1>
<h1><b>Nim:      2041720057</b></h1>


# KUIS 2 Pembelajaran Mesin

## Tentang dataset

Pada sebuah lembaga kemanusiaan berbasis teknologi informasi, dibentuk beberapa tim kemanusiaan yang bertugas untuk terjun ke masyarakat memberikan bantuan dalam bentuk aplikasi komputer atau layanan pelatihan IT.  Kegiatn tersebut dilaksanakan setiap tahun dengan ketentuan anggota organisasi tersebut dapat bergabung ke beberapa tim sebagai ketua atau anggota. Terdapat pula anggota yang sudah tidak aktif di organisasi tersebut (terhapus di database mereka â€”> label N/A).  Organisasi tersebut juga melakukan rekrutmen volunteer, namun tidak semua tim menggunakan bantuan volunteer. Hasil kegiatan dari setiap tim dapat diwujudkan ke dalam sebuah pengakuan hak cipta atau publikasi karya ilmiah atau publikasi berita di media massa.

## Ketentuan
1. Pengerjaan secara individu alias setiap mahasiswa!
2. Terdapat data dengan nilai #N/A, pertimbangkan cara terbaik untuk mengatasi nilai tersebut.
3. Tidak boleh ada duplikasi pekerjaan antar mahasiswa
4. Berikan penjelasan untuk setiap tahapan. Jangan hanya kode!

## Soal
1. Lakukan pemilahan data training dan testing yang sesuai dan proporsional dari data tersebut! (10 poin)
2. Tentukan data validasi! (10 poin)
3. Tentukan secara tepat kolom yang menjadi "label" (20 poin)
4. Terapkan dua jenis metode klasifikasi dan lakukan perbandingan akurasi  dengan wajib melibatkan variabel keterlibatan volunteer sampai variabel luaran-luaran yang dihasilkan! (20 poin)
5. Lakukan tunning hyperparameter berdasarkan hasil klasifikasi pada nomor 3 menggunakan metode Grid Search dan Random Search! Simpulkan parameter apa yang paling baik digunakan berdasarkan metode klasifikasi yang dipilih, dan berapa akurasinya. (40 poin)

In [1]:
# import package
import numpy as np
import pandas as pd

In [2]:
#df adalah variable yg digunakan untuk membaca data  file excel yang bernama dataset_quiz yang berada di dalam folder data

df = pd.read_excel('data/dataset_quiz.xlsx')
df.head(100)

#df.head(100) berguna untuk menampilkan 100 data teratas dari dataset_quiz

,id_ketua,id_anggota1,id_anggota2,id_anggota3,id_anggota4,id_anggota5,keterlibatan_vltr,jml_vltr_terlibat,tahun,skema,luaran_hki,jenis_luaran_hki,potensi_hki,luaran_lain,jenis_luaran_lain,status_luaran_lain
0,7206.0,7214.0,6211.0,8602.0,7801.0,NaN,TIDAK,0,2019,REGULER,TIDAK ADA,TIDAK ADA,TIDAK,TIDAK ADA,TIDAK ADA,TIDAK ADA
1,7214.0,7109.0,8402.0,7903.0,9202.0,NaN,TIDAK,0,2019,REGULER,TIDAK ADA,TIDAK ADA,TIDAK,TIDAK ADA,TIDAK ADA,TIDAK ADA
2,5911.0,8201.0,8701.0,9101.0,9003.0,NaN,TIDAK,0,2019,REGULER,TIDAK ADA,TIDAK ADA,TIDAK,TIDAK ADA,TIDAK ADA,TIDAK ADA
3,8402.0,7702.0,8602.0,8903.0,8903.0,NaN,TIDAK,0,2019,REGULER,TIDAK ADA,TIDAK ADA,TIDAK,TIDAK ADA,TIDAK ADA,TIDAK ADA
4,8201.0,8305.0,5911.0,5903.0,8402.0,NaN,TIDAK,0,2019,REGULER,TIDAK ADA,TIDAK ADA,TIDAK,TIDAK ADA,TIDAK ADA,TIDAK ADA
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
80,8803.0,8804.0,9102.0,8005.0,9303.0,NaN,YA,3,2022,REGULER,TIDAK ADA,TIDAK ADA,TIDAK,TIDAK ADA,TIDAK ADA,TIDAK ADA
81,6211.0,8901.0,9003.0,9303.0,9007.0,NaN,YA,3,2022,REGULER,TIDAK ADA,TIDAK ADA,TIDAK,TIDAK ADA,TIDAK ADA,TIDAK ADA
82,8601.0,8903.0,8703.0,NaN,NaN,NaN,YA,3,2022,REGULER,TIDAK ADA,TIDAK ADA,TIDAK,TIDAK ADA,TIDAK ADA,TIDAK ADA
83,8703.0,8601.0,9202.0,9102.0,6204.0,NaN,YA,3,2022,REGULER,TIDAK ADA,TIDAK ADA,TIDAK,TIDAK ADA,TIDAK ADA,TIDAK ADA
84,8102.0,7109.0,5903.0,7206.0,8903.0,NaN,TIDAK,0,2022,REGULER,TIDAK ADA,TIDAK ADA,TIDAK,TIDAK ADA,TIDAK ADA,TIDAK ADA

In [3]:
#mengecek apakah ada data yang kosong
df.isnull().sum()

id_ketua               3
id_anggota1            5
id_anggota2            4
id_anggota3            3
id_anggota4           13
id_anggota5           84
keterlibatan_vltr      0
jml_vltr_terlibat      0
tahun                  0
skema                  0
luaran_hki             0
jenis_luaran_hki       0
potensi_hki            0
luaran_lain            0
jenis_luaran_lain      0
status_luaran_lain     0
dtype: int64

In [4]:
#fungsi drop disini adalah untuk menghapus kolom id_anggota5
df = df.drop('id_anggota5', axis=1)

modus_ketua = df['id_ketua'].mode()[0]
df['id_ketua'] = df['id_ketua'].fillna(modus_ketua)

modus_anggota1 = df['id_anggota1'].mode()[0]
df['id_anggota1'] = df['id_anggota1'].fillna(modus_anggota1)

modus_anggota2 = df['id_anggota2'].mode()[0]
df['id_anggota2'] = df['id_anggota2'].fillna(modus_anggota2)

modus_anggota3 = df['id_anggota3'].mode()[0]
df['id_anggota3'] = df['id_anggota3'].fillna(modus_anggota3)

modus_anggota4 = df['id_anggota4'].mode()[0]
df['id_anggota4'] = df['id_anggota4'].fillna(modus_anggota4)
df.head(100)

,id_ketua,id_anggota1,id_anggota2,id_anggota3,id_anggota4,keterlibatan_vltr,jml_vltr_terlibat,tahun,skema,luaran_hki,jenis_luaran_hki,potensi_hki,luaran_lain,jenis_luaran_lain,status_luaran_lain
0,7206.0,7214.0,6211.0,8602.0,7801.0,TIDAK,0,2019,REGULER,TIDAK ADA,TIDAK ADA,TIDAK,TIDAK ADA,TIDAK ADA,TIDAK ADA
1,7214.0,7109.0,8402.0,7903.0,9202.0,TIDAK,0,2019,REGULER,TIDAK ADA,TIDAK ADA,TIDAK,TIDAK ADA,TIDAK ADA,TIDAK ADA
2,5911.0,8201.0,8701.0,9101.0,9003.0,TIDAK,0,2019,REGULER,TIDAK ADA,TIDAK ADA,TIDAK,TIDAK ADA,TIDAK ADA,TIDAK ADA
3,8402.0,7702.0,8602.0,8903.0,8903.0,TIDAK,0,2019,REGULER,TIDAK ADA,TIDAK ADA,TIDAK,TIDAK ADA,TIDAK ADA,TIDAK ADA
4,8201.0,8305.0,5911.0,5903.0,8402.0,TIDAK,0,2019,REGULER,TIDAK ADA,TIDAK ADA,TIDAK,TIDAK ADA,TIDAK ADA,TIDAK ADA
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
80,8803.0,8804.0,9102.0,8005.0,9303.0,YA,3,2022,REGULER,TIDAK ADA,TIDAK ADA,TIDAK,TIDAK ADA,TIDAK ADA,TIDAK ADA
81,6211.0,8901.0,9003.0,9303.0,9007.0,YA,3,2022,REGULER,TIDAK ADA,TIDAK ADA,TIDAK,TIDAK ADA,TIDAK ADA,TIDAK ADA
82,8601.0,8903.0,8703.0,8602.0,8901.0,YA,3,2022,REGULER,TIDAK ADA,TIDAK ADA,TIDAK,TIDAK ADA,TIDAK ADA,TIDAK ADA
83,8703.0,8601.0,9202.0,9102.0,6204.0,YA,3,2022,REGULER,TIDAK ADA,TIDAK ADA,TIDAK,TIDAK ADA,TIDAK ADA,TIDAK ADA
84,8102.0,7109.0,5903.0,7206.0,8903.0,TIDAK,0,2022,REGULER,TIDAK ADA,TIDAK ADA,TIDAK,TIDAK ADA,TIDAK ADA,TIDAK ADA

In [5]:
# Cek data yang kosong
df.isna().sum()

id_ketua              0
id_anggota1           0
id_anggota2           0
id_anggota3           0
id_anggota4           0
keterlibatan_vltr     0
jml_vltr_terlibat     0
tahun                 0
skema                 0
luaran_hki            0
jenis_luaran_hki      0
potensi_hki           0
luaran_lain           0
jenis_luaran_lain     0
status_luaran_lain    0
dtype: int64

In [6]:
#disini saya membuat variable baru yaitu df2 dimana hanya mengambil kolumn keterlibatan_vltr - status_luaran_lain untuk di label encoding .
df2 = df.iloc[:, 5:]

#Ini merupakan tahapan encoding yang berguna untuk mengubah isi column yang isinya data kategori menjadi angka
from sklearn.preprocessing import LabelEncoder
labelencoder=LabelEncoder()
for column in df2.columns:
    df2[column] = labelencoder.fit_transform(df2[column])

In [7]:
df2.head(100)

,keterlibatan_vltr,jml_vltr_terlibat,tahun,skema,luaran_hki,jenis_luaran_hki,potensi_hki,luaran_lain,jenis_luaran_lain,status_luaran_lain
0,0,0,0,1,1,1,2,0,3,1
1,0,0,0,1,1,1,2,0,3,1
2,0,0,0,1,1,1,2,0,3,1
3,0,0,0,1,1,1,2,0,3,1
4,0,0,0,1,1,1,2,0,3,1
...,...,...,...,...,...,...,...,...,...,...
80,1,3,3,1,1,1,2,0,3,1
81,1,3,3,1,1,1,2,0,3,1
82,1,3,3,1,1,1,2,0,3,1
83,1,3,3,1,1,1,2,0,3,1
84,0,0,3,1,1,1,2,0,3,1

In [8]:
#lalu dilakukan kembali pengecekan data yang kosong
df2.isnull().sum()

keterlibatan_vltr     0
jml_vltr_terlibat     0
tahun                 0
skema                 0
luaran_hki            0
jenis_luaran_hki      0
potensi_hki           0
luaran_lain           0
jenis_luaran_lain     0
status_luaran_lain    0
dtype: int64

In [9]:
print(df2['keterlibatan_vltr'].value_counts())

# penghitungan jumlah label yaitu antara Ya dan Tidak pada single kolom

0    45
1    40
Name: keterlibatan_vltr, dtype: int64

<p>Nomor 3 </p>
<p>Tentukan secara tepat kolom yang menjadi "label" (20 poin)</p>
<b><p>Jawabannya : Kolom keterlibatan vltr menjadi "label"</p></b>

In [10]:
#X : mengambil data dari kolom 1 sampai ke kolom terakhir
X = df2.iloc[:, 1:]
#y : mengambil data dari kolom 0 (keterlibatan_vtr)
y = df2.iloc[:, 0]
X.head()

,jml_vltr_terlibat,tahun,skema,luaran_hki,jenis_luaran_hki,potensi_hki,luaran_lain,jenis_luaran_lain,status_luaran_lain
0,0,0,1,1,1,2,0,3,1
1,0,0,1,1,1,2,0,3,1
2,0,0,1,1,1,2,0,3,1
3,0,0,1,1,1,2,0,3,1
4,0,0,1,1,1,2,0,3,1

In [11]:
y.head()

0    0
1    0
2    0
3    0
4    0
Name: keterlibatan_vltr, dtype: int32

<p>Jawaban Nomor 1 </p>
<p>Lakukan pemilahan data training dan testing yang sesuai dan proporsional dari data tersebut! (10 poin)</p>

In [12]:
#import package
from sklearn.model_selection import train_test_split
# Split data training dan testing
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=10)

<p>Jawaban Nomor 2 </p>
<p>Tentukan data validasi! (10 poin)</p>

In [13]:

# Split data dtrain dgn Rasio yang akan kita gunakan adalah 8:1:1
df_train, df_unseen = train_test_split(df2, test_size=0.2, random_state=0)

# Split lagi antara validasi dan testing
df_val, df_test = train_test_split(df_unseen, test_size=0.5, random_state=0)

# Cek masing-masing ukuran data

print(f'Jumlah data asli: {df.shape[0]}')
print(f'Jumlah data train: {df_train.shape[0]}')
print(f'Jumlah data val: {df_val.shape[0]}')
print(f'Jumlah data test: {df_test.shape[0]}')

# Cek rasio tiap label
print('=========')
print(f'Jumlah label data asli:\n{df2.keterlibatan_vltr	.value_counts()}')
print(f'Jumlah label data train:\n{df_train.keterlibatan_vltr	.value_counts()}')
print(f'Jumlah label data val:\n{df_val.keterlibatan_vltr	.value_counts()}')
print(f'Jumlah label data test:\n{df_test.keterlibatan_vltr	.value_counts()}')

Jumlah data asli: 85
Jumlah data train: 68
Jumlah data val: 8
Jumlah data test: 9
=========
Jumlah label data asli:
0    45
1    40
Name: keterlibatan_vltr, dtype: int64
Jumlah label data train:
0    36
1    32
Name: keterlibatan_vltr, dtype: int64
Jumlah label data val:
1    5
0    3
Name: keterlibatan_vltr, dtype: int64
Jumlah label data test:
0    6
1    3
Name: keterlibatan_vltr, dtype: int64

<p>Jawaban Nomor 4 </p>
<p>Terapkan dua jenis metode klasifikasi dan lakukan perbandingan akurasi  dengan wajib melibatkan variabel keterlibatan volunteer sampai variabel luaran-luaran yang dihasilkan! (20 poin)</p>

MULTINOMIAL-NAIVEBAYES

In [20]:
from sklearn.naive_bayes import MultinomialNB 
from sklearn.metrics import accuracy_score
# memanggil method MultinomialNB
mnb = MultinomialNB()
# Split data training dan testing
X_train, X_test, y_train, y_test = train_test_split(X,y, test_size=0.2, random_state=10)

# Fit model
mnb.fit(X_train, y_train)

# Prediksi dengan data training
y_train_pred = mnb.predict(X_train)

# Evaluasi akurasi training
acc_train = accuracy_score(y_train, y_train_pred)

# Prediksi test data
y_test_pred = mnb.predict(X_test)

# Evaluasi model dengan metric akurasi
acc_test = accuracy_score(y_test, y_test_pred)

# Print hasil evaluasi
print(f'Hasil akurasi data train: {acc_train}')
print(f'Hasil akurasi data test: {acc_test}')

Hasil akurasi data train: 0.9852941176470589
Hasil akurasi data test: 1.0

In [21]:
from sklearn.tree import DecisionTreeClassifier

# Memanggil method Decision, yang secara default, DecisionTreeClassifier dari scikit-learn  menggunakan nilai "Gini" untuk kriterianya.
dt = DecisionTreeClassifier()
#fit model
dt.fit(X_train, y_train)

from sklearn.metrics import accuracy_score
# Memprediksi test 
y_pred = dt.predict(X_test)

#  menghitung akurasi
acc = accuracy_score(y_test, y_pred)
print(f"Test set accuracy: {acc}")

Test set accuracy: 1.0

<p>Jawaban Nomor 5 </p>
<p>Lakukan tunning hyperparameter berdasarkan hasil klasifikasi pada nomor 3 menggunakan metode Grid Search dan Random Search! Simpulkan parameter apa yang paling baik digunakan berdasarkan metode klasifikasi yang dipilih, dan berapa akurasinya. (40 poin)</p>